// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

@font-face {
  font-family: 'Icons';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.svg#icomoon') format('svg'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

.icon-logo:before                   { content: "\21"; }
.icon-team:before                   { content: "\22"; }
.icon-blog:before                   { content: "\23"; }
.icon-chat:before                   { content: "\24"; }
.icon-phone-chat:before             { content: "\25"; }
.icon-location:before               { content: "\26"; }
.icon-map:before                    { content: "\27"; }
.icon-compass:before                { content: "\28"; }
.icon-globe:before                  { content: "\29"; }
.icon-skype:before                  { content: "\2a"; }
.icon-share:before                  { content: "\2b"; }
.icon-github:before                 { content: "\2c"; }
.icon-github-2:before               { content: "\2d"; }
.icon-twitter:before                { content: "\2e"; }
.icon-dribbble:before               { content: "\2f"; }
.icon-linkedin:before               { content: "\30"; }
.icon-lastfm:before                 { content: "\31"; }
.icon-google-plus:before            { content: "\32"; }
.icon-feed:before                   { content: "\33"; }
.icon-suitcase:before               { content: "\34"; }
.icon-screen:before                 { content: "\35"; }
.icon-tablet:before                 { content: "\36"; }
.icon-tablet-2:before               { content: "\37"; }
.icon-export:before                 { content: "\38"; }
.icon-upload:before                 { content: "\39"; }
.icon-cloud:before                  { content: "\3a"; }
.icon-checkmark:before              { content: "\3b"; }
.icon-check-alt:before              { content: "\3c"; }
.icon-database:before               { content: "\3d"; }
.icon-idea:before,
.icon-about:before                  { content: "\3e"; }
.icon-chart:before                  { content: "\3f"; }
.icon-stats-up:before               { content: "\40"; }
.icon-graph:before                  { content: "\41"; }
.icon-chart-2:before                { content: "\42"; }
.icon-tree-view:before              { content: "\43"; }
.icon-stairs:before                 { content: "\44"; }
.icon-arrow-down:before             { content: "\45"; }
.icon-down:before                   { content: "\46"; }
.icon-up:before                     { content: "\47"; }
.icon-arrow-left:before             { content: "\48"; }
.icon-arrow-right:before            { content: "\49"; }
.icon-arrow-next:before             { content: "\4a"; }
.icon-browser:before                { content: "\4b"; }
.icon-cube:before                   { content: "\4c"; }
.icon-chrome:before                 { content: "\4d"; }
.icon-firefox:before                { content: "\4e"; }
.icon-opera:before                  { content: "\4f"; }
.icon-safari:before                 { content: "\50"; }
.icon-IE:before                     { content: "\51"; }
.icon-network:before                { content: "\52"; }
.icon-file-xml:before               { content: "\53"; }
.icon-file-css:before               { content: "\54"; }
.icon-html5:before                  { content: "\55"; }
.icon-css3:before                   { content: "\56"; }
.icon-star:before                   { content: "\57"; }
.icon-shield:before                 { content: "\58"; }
.icon-home:before                   { content: "\59"; }
.icon-music:before                  { content: "\5a"; }
.icon-mobile:before                 { content: "\5b"; }
.icon-info:before                   { content: "\5c"; }
.icon-help:before                   { content: "\5d"; }
.icon-list:before                   { content: "\5e"; }
.icon-cal:before                    { content: "\5f"; }
.icon-coffee:before                 { content: "\60"; }
.icon-console:before                { content: "\61"; }
.icon-drawer:before                 { content: "\62"; }
.icon-search:before                 { content: "\63"; }
.icon-close:before                  { content: "\64"; }
.icon-phone:before                  { content: "\65"; }
.icon-address:before                { content: "\66"; }
.icon-email:before                  { content: "\67"; }
.icon-cogs:before                   { content: "\68"; }
.icon-mobile-dev:before             { content: "\69"; }
.icon-amazon:before                 { content: "\6a"; }
.icon-ux:before                     { content: "\6b"; }
.icon-paint-roller:before           { content: "\6c"; }
.icon-lab:before                    { content: "\6d"; }
.icon-stack:before                  { content: "\6e"; }





