// General Variables
$radius: 3px;
$main-bg: #fdfdfd !default;
$border: 4px double rgba(0, 0, 0, .1) !default;

$text-color: #444 !default;
$text-color-dark: #333 !default;
$text-color-darkest: #101010 !default;
$text-color-light: #888 !default;
$green: #019973;

// Main Link Colors
$link-color: #019973 !default;
$link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25) !default;
$link-color-visited: $link-color !default;
$link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;
$link-color-nav: adjust-color($link-color, $lightness: 5, $saturation: 50) !default;

// Fonts
$serif: "Merriweather", Georgia, "Times New Roman", serif !default;
$sans: "PT Sans", Arial, sans-serif !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;


@import "_vendor/normalize.css";
@import "_vendor/html5bp.css";
@import "bourbon/bourbon";
@import "neat/neat";
@import "compass/utilities/general/min";
@import "compass/typography/links/link-colors";
@import "compass/typography/text/nowrap";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";

body {
  background: $main-bg;
  color: $text-color;
  font-family: $serif;
  position: relative;
}

h1 {
  font-size: 2em;
  line-height: 1em;
}

.main, .main-header {
  @include outer-container;
    padding: 0 1em;

  font-size: 1em;
  line-height: 1.5em;

  @include media(481px) {
    max-width: 800px;
    font-size: 1.2em;
    line-height: 1.7em;
    p {
      padding: 0 2em;
    }
  }

  h1 {
    text-align: center;
  }
}

.gist {
  font-size: 0.75em;
  line-height: 1.45em;

  // @include media(481px) {
  //   font-size: 0.9em;
  // }
}

.gist .gist-file .gist-data pre {
  width: 250%;
}

.main-header {
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 1em;
  }
}

a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
}
