// General Variables
$desktop-width: 800px;
$desktop-columns: 16;
$desktop-left-columns:2;
$desktop-gap-columns:1;
$desktop-right-columns:13;

// Colours
$grey: #444;
$grey-dark:     adjust-color($grey, $lightness: -20, $saturation: 0);
$grey-darkest:  adjust-color($grey, $lightness: -30, $saturation: 0);
$grey-light:    adjust-color($grey, $lightness: +30, $saturation: 0);
$grey-lightest: adjust-color($grey, $lightness: +60, $saturation: 0);

$red:         #FC8178;  //#FC7365; //#FC7365; // #F85F51; //
$green:       #00EBB3;  //#8BC47B; //#88c259; // 
$blue:        #8BCCED;
$yellow:      #ECD36F;  //#DBC569; //#DBCF71; //
$purple:      #AE82C6;  //#c269c2; //

$main-background: white;
$footer-color: $grey-lightest;

// Main Link Colors
$link-color: $blue;

// Fonts
$serif: "Merriweather", Georgia, "Times New Roman", serif;
$sans: "PT Sans", Arial, sans-serif;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;

@import "normalize";
@import "html5bp";
@import "bourbon/bourbon";
@import "neat/neat";
@import "compass/utilities/general/min";
@import "compass/typography/links/link-colors";
@import "compass/typography/text/nowrap";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/box-shadow";
@import "compass/css3/font-face";
@import "syntax";
@import "icons";

body {
  background: $main-background;
  color: $grey;
  font-family: $serif;
  margin:1em;
  padding: 0;
  position: relative;
}

.container {
  @include outer-container;
  position: relative;
  font-size: 1em;
  line-height: 1.5em;
  padding-bottom: 8em;

  @include media(481px, $desktop-columns) {
    max-width: $desktop-width;
    font-size: 1.2em;
    line-height: 1.7em;
  }
}

a {
  @include link-colors($link-color, $hover: adjust-color($link-color, $lightness: 10, $saturation: 25), $focus: adjust-color($link-color, $lightness: 10, $saturation: 25), $visited: $link-color, $active: adjust-color($link-color, $lightness: -15));
  text-decoration: none;
}

#logo-box {
  background-color: $red;
  position: fixed;
  display: none;
  @include media(1100px) {
    display: block;
  }

  $link-color: white;
  a {
    @include link-colors($link-color, $hover: $grey, $focus: adjust-color($link-color, $lightness: 10, $saturation: 25), $visited: $link-color, $active: adjust-color($link-color, $lightness: -15));
  }
}

.logo {
  padding: 0.5em 1em;
  font-size: 2em;
  text-align: center;
  line-height: 2em;
}

h1, h2, h3, h4, h5 {
  font-family: $sans;
}

h1 {
  font-size: 2em;
  line-height: 1.3em;
}

#title {
  font-size: 2em;
}

.item {
  margin: 2em 0;
  padding-bottom: 2em;
  @include row;
  border-bottom: 2px dashed $grey-lightest;
}

.info {
  @include media(481px, $desktop-columns) {
    text-align: right;
    @include span-columns($desktop-left-columns);
  }
  .icon {
    font-size: 3em;
  }
}

.yellow {
  color: $yellow;
}

.green {
  color: $green;
}

.purple {
  color: $purple;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.content {
  @include media(481px, $desktop-columns) {
    @include shift($desktop-gap-columns);
    @include span-columns($desktop-right-columns);
  }
}

.tags {
  font-size: 0.7em;
  line-height: 1.6em;
  margin-top: 1.5em;
  color: $grey-light;
}

footer {
  background-color: $footer-color;
  position: absolute;
  bottom: -2em;
  left: -2em;
  right: -2em;
  min-height: 5em;
}

.article {
  $link-color: $yellow;
  a {
    @include link-colors($link-color, $hover: adjust-color($link-color, $lightness: 10, $saturation: 25), $focus: adjust-color($link-color, $lightness: 10, $saturation: 25), $visited: $link-color, $active: adjust-color($link-color, $lightness: -15));
  }
  .title {
    @include row;

    h1 {
      font-size: 3em;
    }
  }
}

.title-info {
  .title-tags {
    color: $grey-light;
  }
}

.github {
  ul {
    list-style: none;
    padding: 0 0 0 1em;
  }

  $link-color: $purple;
  a {
    @include link-colors($link-color, $hover: adjust-color($link-color, $lightness: 10, $saturation: 25), $focus: adjust-color($link-color, $lightness: 10, $saturation: 25), $visited: $link-color, $active: adjust-color($link-color, $lightness: -15));
  }
  .sha {
    font-family: $mono;
    margin-right: 0.5em;
  }
  .sha-icon {
    font-size: 0.7em;
  }
  display: none;
}

.tweet {
  display: none;
}
