<div class="item">
  <div class="info">
    <div class="date">
      <h2>
        {{date}}
      </h2>
    </div>
    <div class="tags">
      {{#each tags}}
        {{this}}
      {{/each}}
    </div>
  </div>
  <div class="content">
    <h2>
      <a href="http://twitter.com/dansowter">@dansowter</a> tweeted
    </h2>
    <p>
      {{{text}}}
    </p>
  </div>
</div>
<hr/>
