%header
  .bar
    %h1#logo 
      %a{:href => "/"}
        Dan Sowter
  .nav-toggle.icon-cogs
  %nav
    %ul
      %li
        %a{:href => "/"}
          .nav-icon.icon-home
          Home
      %li
        %a{:href => "/about"}
          .nav-icon.icon-console 
          About
      %li
        %a{:href => "/contact"}
          .nav-icon.icon-chat
          Contact
