%header
  .wrapper
    %div{:class => (current_article ? "article-bar" : "bar") }
      %a{:href => "/"}
        #logo
          %h1
            Dan Sowter
      #nav-toggle
        %h1.icon-cogs
  %nav#main-nav
    %ul
      %li
        %a{:href => "/"}
          .nav-icon.icon-home
          Home
      %li
        %a{:href => "/about"}
          .nav-icon.icon-console 
          About
      %li
        %a{:href => "/contact"}
          .nav-icon.icon-chat
          Contact
